<!DOCTYPE html>
<html>
  <body>
  
      <h1>Créer une partie</h1>
    <form method='post' action="/games">
      <label  for="name">Nom :</label>
      <input required name="name"/>
      <br>
      <label for="gameMode">Mode de jeu :</label>
      <select required id="gameMode" name="gameMode">
        <option value="AroundTheWorld">Tour du monde</option>
      </select>  
      <br>
      <button type="submit">Créer</button>

    </form>
    <a href="/games">Retour</a>

  </body>
</html>