<!DOCTYPE html>
<html>
  <body>
  {% if player %}
    <h1>Modification d'un joueur</h1>
    <form method='post' action="/players/{{player._id}}">
      <input type="hidden" name="_method" value="patch" />
      <label  for="name">Nom :</label>
      <input placeholder="{{player.name}}" name="name"/>
      <br>
      <label for="email">Email :</label>
      <input placeholder="{{player.email}}" type="email" id="email" name="email"/>
      <br>
      <button type="submit">Modifier</button>
  {% else %}
    <h1>Créer un joueur</h1>
    <form method='post' action="/players">
      <label for="name">Nom :</label>
      <input required name="name"/>
      <br>
      <label for="email">Email :</label>
      <input required type="email" id="email" name="email"/>
      <br>
      <button type="submit">Créer</button>
    {% endif %}
    </form>
    <a href="/players">Retour</a>
  </body>
</html>